<div class="row justify-content-center mt-3">
  <div class="col col-md-6">
    <div class="card border-primary">
      <div class="card-header"><%= t('.header') %></div>

      <%= render 'form' %>

      <div class="card-footer text-muted">
        <%= link_to t('helpers.shared.links.back'), admin_badges_path %>
      </div>

    </div>
  </div>
</div>