<p><%= current_year %> &copy; Alexander</p>
<p><%= github_url 'nBobrov', 'TestGuru' %> – <%= t('.app_description') %></p>
<p><%= link_to t('.project') , 'https://thinknetica.com', target: '_blank' %></p>