<p><%= current_year %> &copy; Alexander</p>
<p><%= github_url 'nBobrov', 'TestGuru' %> – приложение для создания и выполнения онлайн тестов</p>
<p><%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com', target: '_blank' %></p>