span.success { color:green }

span.fail { color:red; }

.flash {
  border: 2px solid;
  padding: 10px;
  border-radius: 5px;
}

.flash.alert{
  border-color: #ef2727;
}

.flash.notice{
  border-color: #3c85e0;
}

.nav {
  white-space:nowrap;
}

.nav_user {
  text-align:right;
  width:50%;
  display:inline-block;
}

.nav_menu {
  text-align:left;
  width:50%;
  display:inline-block;
}

.nav.nav_admin {
  height: 35px;
  padding: 15px;
  line-height: 35px;
  color: #ffffff;
  background-color: #4293e6;
  margin-bottom: 40px;
}

.nav_admin.title {
  font-size: 140%;
  font-weight: bold;
}

.nav_admin.user {
  float: right;
}

.nav_admin.user-email {
  text-decoration: underline;
}

.nav.nav_admin
a{
  color: #ffffff;
}
