<p><%= t('.greeting', recipient: @email) %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('.message', message: @resource.unconfirmed_email ) %></p>
<% else %>
  <p><%= t('.message', message: @resource.email) %></p>
<% end %>
